<div id="A" class="background-image" style="height: 85vh; width: 100%; overflow-x: hidden; font-family: 'Open Sans Condensed';">
    <div
        style="text-align: right; height: 85vh; width: 100%; background-color: rgba(255, 165, 0, 0.9); padding-right: 80px;">

        <h1 style="text-align: right; color: white">
            <b style="font-size: 2.4em; display: inline-block; margin-top: 110px; text-transform: uppercase">
                Qui sommes-nous ?
            </b>
        </h1>
        <div style="color: #fafafa; text-transform: uppercase">
            <span class="active" style="font-size: 2.0em; margin-right: 20px; margin-left: 20px;">
                Motivations</span>
            <span style="font-size: 2.0em; margin-right: 20px;">
                Valeurs
            </span>
            <span style="font-size: 2.0em; margin-right: 20px;">
                Missions
            </span>
        </div>
    </div>
</div>
<div style="transform: scaleX(-1);">
    <img src="../../../assets/img/wave.png" style="width: 100%;  transform: translateY(-100%);">
</div>
<div style="font-family: 'Open Sans Condensed'; margin-left: 80px ; margin-right: 80px; margin-top: -40vh;">
    <div class="row">
        <div class="col-lg-8">
            <h1>
                <span style="font-size: 1.5em; ">
                    Nos motivations
                </span>
            </h1>
            <p class="lead text-justify" style="margin-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur velit id suscipit commodo.
                Phasellus
                sed
                odio consectetur, luctus neque id, sodales leo. Maecenas lacinia massa in libero dapibus, sit amet
                luctus enim
                tempus. Praesent sollicitudin elit nibh, eget gravida ligula semper ac. Aenean porta, nisl in placerat
                ultrices,
                dui velit sodales magna, efficitur cursus quam turpis a nisi. Vivamus quis placerat erat. Quisque
                sodales
                pretium
                vulputate. Vestibulum ornare porttitor vehicula. In ultricies ullamcorper fringilla.
            </p>
            <div class="row">
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div style="font-size: 15em; text-align: center">
                <fa name="cog" animation="spin"></fa>
            </div>
        </div>
    </div>
</div>
<div style="font-family: 'Open Sans Condensed'; margin-left: 80px ; margin-right: 80px; margin-top: 20px;">
    <div class="row">
        <div class="col-lg-4">
            <div style="font-size: 15em; text-align: center">
                <fa name="cog" animation="spin"></fa>
            </div>
        </div>
        <div class="col-lg-8">
            <h1 style="text-align: right">
                <span style="font-size: 1.5em">
                    Nos valeurs
                </span>
            </h1>
            <p class="lead text-justify" style="margin-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur velit id suscipit commodo.
                Phasellus
                sed
                odio consectetur, luctus neque id, sodales leo. Maecenas lacinia massa in libero dapibus, sit amet
                luctus enim
                tempus. Praesent sollicitudin elit nibh, eget gravida ligula semper ac. Aenean porta, nisl in placerat
                ultrices,
                dui velit sodales magna, efficitur cursus quam turpis a nisi. Vivamus quis placerat erat. Quisque
                sodales
                pretium
                vulputate. Vestibulum ornare porttitor vehicula. In ultricies ullamcorper fringilla.
            </p>
            <div class="row">
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div style="font-family: 'Open Sans Condensed'; margin-left: 80px ; margin-right: 80px; margin-top: 20px;">
    <div class="row">
        <div class="col-lg-8">
            <h1>
                <span style="font-size: 1.5em">
                    Nos missions
                </span>
            </h1>
            <p class="lead text-justify" style="margin-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur velit id suscipit commodo.
                Phasellus
                sed
                odio consectetur, luctus neque id, sodales leo. Maecenas lacinia massa in libero dapibus, sit amet
                luctus enim
                tempus. Praesent sollicitudin elit nibh, eget gravida ligula semper ac. Aenean porta, nisl in placerat
                ultrices,
                dui velit sodales magna, efficitur cursus quam turpis a nisi. Vivamus quis placerat erat. Quisque
                sodales
                pretium
                vulputate. Vestibulum ornare porttitor vehicula. In ultricies ullamcorper fringilla.
            </p>
            <div class="row">
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 15vmin; border: 1px solid #000">

                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div style="font-size: 15em; text-align: center">
                <fa name="cog" animation="spin"></fa>
            </div>
        </div>
    </div>
</div>