<div style="height: 300px; background-color: #222; color: #fff; padding-top : 8vh; " >
    <div class="container">
        <div class="row">
            <div class="col-2">
                <b style="color: orange">TRAP YOUR TRIP</b>
                Slogan en bas
            </div>
            <div class="col-2">
                <b>A VOTRE ECOUTE</b>
                <ul class="list-unstyled" style="color: #aaa">
                    <li>Questions</li>
                    <li>Notre politique</li>
                    <li>Mentions légales</li>
                    <li>Qui sommes nous ?</li>
                    <li>Contactez-nous ?</li>
                    <li>Nous rejoindre</li>
                </ul>
            </div>
            <div class="col-2">
                <b>OUTILS</b>
                <ul class="list-unstyled" style="color: #aaa">
                    <li>Moteur de recherche</li>
                    <li>Classements</li>
                </ul>
            </div>
            <div class="col-2">
                <b>ENSEMBLE</b>
                <ul class="list-unstyled" style="color: #aaa">
                    <li>Créer un compte</li>
                    <li>Se connecter</li>
                    <li>Recommander</li>
                </ul>
            </div>
            <div class="col-2">
                <b>RESEAUX SOCIAUX</b>
                <ul class="list-unstyled" style="color: #aaa">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Google +</li>
                </ul>
            </div>
            <div class="col-2">
                <small style="color: #aaa">
                    © 2018 SIA TECHNOLOGY GROUP
                </small>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 5vh">
        <div class="row">

        </div>

    </div>
</div>
