<nav id="bar_nav" role="navigation"
    style="margin-top: -12px; font-family: 'Open Sans Condensed'; font-size: 1.2em; width: 100%; opacity: 1; background-color: rgba(0,0,0,0.0); z-index: 2!important"
    class="fixed-top navbar navbar-expand-lg flex-column flex-md-row bd-navbar navbar-success ">


    <!--Logo de l'application-->
    <a class="navbar-brand text-white mr-auto" href="#"
        style="margin-left: 40px; margin-right: 40px; padding-right: 20px; padding-left: 20px;; background-color: rgba(255, 255, 255, 1); max-width: 200px">
        <b style="margin-top: 5px; color: orange; opacity: 0.95">
            TRAP YOUR TRIP
        </b>
    </a>
    <a class="navbar-toggler ml-auto" style="max-width: 100px; margin-top: -35px;" data-toggle="collapse"
        data-target="#navbarTogglerGauche" aria-controls="navbarTogglerGauche" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars" style="color:#fff"></i>
    </a>


    <div class="collapse navbar-collapse" id="navbarTogglerGauche">
        <!-- Partie gauche du menu -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="oeuvres" class="nav-link text-white" href="#!restaurants">
                    Séjours
                </a>
            </li>
            <li class="nav-item">
                <a id="oeuvres" class="nav-link text-white" href="#!restaurants">
                    Divertissements
                </a>
            </li>
            <li class="nav-item">
                <a id="contactus" class="nav-link text-white" href="#!contactus">Nous contacter</a>
            </li>
        </ul>
        <!-- Partie droite du menu -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" style="cursor: pointer;">
                <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span>
                        Utilisateur
                    </span>
                </a>
                <div style="float: left" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" ng-click="controller.mesRestaurants()">
                        <i class="fas fa-store"></i>
                        <span style="padding-left: 10px;">Mes restaurants</span>

                    </a>
                    <a class="dropdown-item" ng-click="controller.deconnexion()">
                        <i class="fas fa-sign-out-alt"></i>
                        <span style="padding-left: 10px;">Déconnexion</span>

                    </a>
                </div>
            </li>
            <li ng-if="!controller.utilisateur" class="nav-item">
                <a class="nav-link text-white" href="#!connexion">
                    Connexion
                </a>
            </li>
            <li class="nav-item" style="width: 20px">

            </li>
        </ul>
    </div>
</nav>